/* th, td {
  vertical-align: middle;
  color: red;
} */

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.table th {
  background-color: rgb(223, 223, 223);
  /* color: white; */

}